//style widget Product

.widget_products{
    img{
        @include rtl-margin-right(30px);
        @include rtl-float-left();
    }
    .product-title{
        display: block;
        color: #2f2f33;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        transition: all 0s ease 0s;
    }
    li{
        clear: both;
        position: relative;
        min-height: 150px;
    }
    .product_list_widget{
        padding-top: 30px;
    }
}
